*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
}

.images{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    padding-right: 120px;
}

img{
    width: 120px;
}

.header{
    background-color: #ed017f;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.header img{
    width: 130px;
}

.header p{
    font-size: 14px;
    line-height: 20px;
}

.header input{
    width: 500px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.header span{
    background-color: #fd4dab;
    padding: 2px 5px;
    font-size: 17px;
    border-radius: 50%;
}

.header .cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #33B27B;
    width: 130px;
    padding: 5px 15px;
    border-radius: 3px;
}

.cart .zero{
    background-color: #fff;
    color: #000;
    padding: 5px 7px;
    border-radius: 3px;
    font-size: 12px;
}

.cart p{
    font-size: 14px;
    line-height: 17px;
}

.nxt{
    width: 100%;
    padding: 14px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: #fff;
    background-color: #94004f;
}
.nxt .nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar p{
    margin-right: 5px;
    font-size: 13px;
    font-weight: 600;
}

.lines div{
    width: 15px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 2px;
}

.body{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ad{
    width: 70%;
}

.ad img{
    width: 100%;
    height: 380px;
    border-radius: 6px;
}

.advert{
    width: 34%;
    height: 380px;
    margin-left: 15px;
}

.advert img{
    width: 203px;
    height: 182px;
    margin-left: 5px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.icons{
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.icons div{
    padding: 15px 60px;
    background-color: #fff;
    font-size: 15px;
    border-radius: 4px;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .05);
}

.item1{
    margin: 40px 20px;
    border-radius: 6px;
    background-color: #f30e0e;
}

.item1 .product{
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 20px;
    font-size: 13px;
}

.spons_product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}

.spons_product div{
    background-color: #94004f;
    border-radius: 6px;
    margin: 8px;
}

.spons_product img{
    width: 80%;
    display: block;
    margin: auto;
}
